<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to image_tag('logo.png'), cocktails_path, class: "navbar-wagon-brand" %>


  <!-- Right Navigation -->

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
